body{
	margin: 0;
	font-family: 'Amatic SC', cursive,sans-serif;
	font-size: 17px;
	
}
/*This is how you put in a coment*/
header{
	background-color : yellow;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}
header h1{
	color: white;
	font-size: 80px;
	margin-top: 0px;
	}
header img{
	border-radius: 180px;
	width: 300px;
	border: 15px solid blue;
}
h1,h2{
	font-family: 'Caveat', cursive,sans-serif;
	font-size: 40px;
}
main h2{
	color: yellow;
	font-size: 60px;
	margin-bottom: 0px;
	margin-top: 0px;
}
main{
	padding-top: 10px;
	max-width: 900px;
	margin: 0 auto;
	padding-left: 50px;
	padding-bottom: 10px;


}
main img{
	max-width: 100%;
}
a{
	color: black;
}
main a:hover{
	background-color: yellow;
	color: blue;
}
footer{
	background-color: yellow;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
}
footer a:hover{
	opacity: .5;
	background-color:transparent;
	color: blue;
}
p.cap{
	color: grey;
	font-size: 15px;
	font-style: italic; 
	margin-left: 10px;
}	
